<p class="fs-5 justify-content-center col-md-6 col-lg-6 d-flex flex-wrap mx-auto">
    Welcome to WorkLogs. You’ll be asked a series of thought-provoking questions. Please don’t rush through them.
    <br />
    <br />
    If you can’t answer all of the fields for each question, that’s OK, but give yourself time to think about each one.
    <br />
</p>
