@{
    ViewData["Title"] = "About";
    ViewData["HeaderTitle"] = "work log";
    Tenant tenant = Context.Items["Tenant"] as Tenant;
}

<div class="container">
    <div class="d-flex flex-wrap justify-content-center col-lg-6 col-md-8 mx-auto py-5">
        <p class="fs-2">
            About
        </p>
    </div>
    <p class="fs-5">
        @Html.Raw(tenant.About_Page_Content)
    </p>
</div>
