@import "https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
body  {color:#191970; background-color:rgba(0, 0, 0, .005) }
.main-header-footer
{
    background-color: #191970;
    background-image: linear-gradient(0deg, transparent 50%, #000 50%);
    background-size: 4px 4px;
    background-repeat: repeat;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
input[type="email"].form-control#Email
{
    height: calc(2.5rem + 0px) !important;
    padding: .25rem .75rem;
    color:#6c757d;
}
.text-small {
  font-size: 85%;
}
.text-passive {
  color: #CCC;
}

.dropdown-toggle {
  outline: 0;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav{
    --bs-nav-link-hover-color: #FFF!important;
}
.bg-login{
  background-color: RGB(194, 218, 255);
}
.emoji-ng{
  font-size: 3em;
}

.emoji-sm{
  font-size: 2em;
}
.emoji-active{
  color: var(--bs-yellow);
}

.emoji-color{
  color: var(--bs-yellow);
}
.cus-textarea{
  height: 150px;
}
.card-color{
  background-color: RGB(194, 218, 255);
}
.search-wx{
  width: 200px;
}
.form-select{
  display: inline!important;
}
div.word-cloud {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.1);
}
div.bar-chart{
    width: 100%;
    height: 700px;
}

form .error {
    color: red;
}
.overflow-zscroll {
    padding-left: 30px;
    overflow-anchor: none;
    overflow-y: scroll;
    height: 700px;
}
.btn-zwidth {
    width: 50%;
}

.custom-form {
    width: 80%;
}

.custom-background {
    background-color: #6c757d !important;
    border-color: #41464b !important;
}
.button-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.min-width-200 {
    min-width: 200px;
}

.max-width-200 {
    max-width: 200px;
}

.min-width-100 {
    min-width: 110px;
}
a {
    text-decoration: none;
}
.adjust-nav-height {
    top: 0px !important;
    height: calc(100% - 46px);
}

.nav-width {
    width: 45% !important;
}

.gradient-custom {
     
    background: #4facfe;
     
    background: -webkit-linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0, 242, 254, 1));
     
    background: linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0, 242, 254, 1));
}

.fixed-left-top {
    right: 0;
    position: fixed;
    z-index: 1030;
}
.placeholder-block {margin-top:25%;}

.highcharts-figure {
    margin: 0;
}

#play-controls {
    max-width: 1000px;
    margin: 1em auto;
}

#play-pause-button {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgba(2, 117, 255, 1);
    border-radius: 25px;
    color: white;
    background-color: rgba(2, 117, 255, 1);
    transition: background-color 250ms;
}

#play-pause-button:hover {
    background-color: rgba(2, 117, 255, 0.5);
}

#play-range {
    transform: translateY(2.5px);
    width: calc(100% - 90px);
    background: #f8f8f8;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}



/*Bootstrap over-rides*/
.btn-primary
{
    --bs-btn-color: #fff;
    --bs-btn-bg: #191970;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2828b5;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2828b5;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #000;
}